<header id="template-nt-hero" data-section="home" role="banner" style="background: url(<%= image_path('main_banner.jpg') %>) center top fixed;background-size: auto 100%; background-repeat: no-repeat;">
  <div>
    <%= locale_swicher %>
  </div>
  <div class="template-nt-intro">
    <div class="container">
      <div class="row">
        <div class="col-md-10 template-nt-text">
          <h2 class="to-animate-off intro-animate-1"><%= t('main_banner.headline')%></h2>
          <p class="to-animate-off intro-animate-2"><%= t('main_banner.text')%></p>
        </div>
        <div class="col-md-6 text-right template-nt-intro-img to-animate-off intro-animate-4">
        </div>
      </div>
    </div>
  </div>
</header>