<header id="template-nt-hero" data-section="home" role="banner" style="background: url(<%= image_path('main_banner5.jpg') %>) center; background-size: cover;background-attachment:fixed;">
  <div class="template-nt-intro">
    <div class="container">
      <div class="row">
        <div class="col-md-7 template-nt-text">
          <div class="to-animate-off intro-animate-1"><%= t('main_banner.headline').html_safe %></div>
          <p class="to-animate-off intro-animate-2"><%= t('main_banner.text').html_safe%></p>
        </div>

        <div class="col-md-5 text-center" id="register-form">
          <%= render 'shared/menu_form' %>
        </div>

        <div class="col-md-6 text-right template-nt-intro-img to-animate-off intro-animate-4">
        </div>
      </div>
    </div>
  </div>
</header>


