<div id="template-nt-menu" class="navbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="#" class="js-template-nt-nav-toggle template-nt-nav-toggle" data-toggle="collapse" data-target="#template-nt-navbar" aria-expanded="false" aria-controls="navbar"><span>Menu</span> <i></i></a>
        <a href="" class="navbar-brand">
          <%= image_tag('logo.png', id: 'logo-img')%>
        </a>
      </div>
    </div>
  </div>
</div>