<div id="template-nt-offcanvass">
  <ul>
    <li class="active"><a href="#" data-nav-section="home">Home</a></li>
    <li><a href="#" data-nav-section="features">Features</a></li>
    <li><a href="#" data-nav-section="design">Design</a></li>
    <li><a href="#" data-nav-section="testimonies">Testimonies</a></li>
    <li><a href="#" data-nav-section="products">Products</a></li>
    <li><a href="#" data-nav-section="benefits">Benefits</a></li>
    <li><a href="#" data-nav-section="pricing">Pricing</a></li>
    <li><a href="#" data-nav-section="faqs">FAQs</a></li>
  </ul>
  <h3 class="template-nt-lead">Connect with us</h3>
  <p class="template-nt-social-icons">
    <a href="#"><i class="icon-twitter"></i></a>
    <a href="#"><i class="icon-facebook"></i></a>
    <a href="#"><i class="icon-instagram"></i></a>
    <a href="#"><i class="icon-dribbble"></i></a>
    <a href="#"><i class="icon-youtube"></i></a>
  </p>
</div>