<div id="template-nt-pricing" data-section="pricing">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 template-nt-section-heading text-center">
        <h2 class="template-nt-lead animate-single pricing-animate-1">The Price of Each Product</h2>
        <p class="template-nt-sub animate-single pricing-animate-2">The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information.</p>
      </div>

      <div class="col-md-3 to-animate-off">
        <a href="" class="template-nt-figure">
          <span class="template-nt-price">$150<span>/Now</span></span>
          <h3 class="template-nt-figure-lead">gun</h3>
          <ul class="price-list-inner">
            <li>Caliber:  9*19mm</li>
            <li>Muzzle:   116 mm</li>
            <li>Length:   203 mm</li>
            <li>Height:   140 mm - 38 mm</li>
            <li>Weight:   1010 gr</li>
          </ul>
        </a>
      </div>
      <div class="col-md-3 to-animate-off">
        <a href="" class="template-nt-figure">
          <span class="template-nt-price">$250<span>/Now</span></span>
          <h3 class="template-nt-figure-lead">pump rifle</h3>
          <ul class="price-list-inner">
            <li>Caliber:  9*19mm</li>
            <li>Muzzle:   116 mm</li>
            <li>Length:   203 mm</li>
            <li>Height:   140 mm - 38 mm</li>
            <li>Weight:   1010 gr</li>
          </ul>
        </a>
      </div>
      <div class="col-md-3 to-animate-off">
        <a href="" class="template-nt-figure active pricing-feature">
          <span class="template-nt-price">$450<span>/Now</span></span>
          <h3 class="template-nt-figure-lead">hunting rifle</h3>
          <ul class="price-list-inner">
            <li>Caliber:  9*19mm</li>
            <li>Muzzle:   116 mm</li>
            <li>Length:   203 mm</li>
            <li>Height:   140 mm - 38 mm</li>
            <li>Weight:   1010 gr</li>
          </ul>
        </a>
      </div>
      <div class="col-md-3 to-animate-off">
        <a href="" class="template-nt-figure">
          <span class="template-nt-price">$550<span>/Now</span></span>
          <h3 class="template-nt-figure-lead">machine guns</h3>
          <ul class="price-list-inner">
            <li>Caliber:  9*19mm</li>
            <li>Muzzle:   116 mm</li>
            <li>Length:   203 mm</li>
            <li>Height:   140 mm - 38 mm</li>
            <li>Weight:   1010 gr</li>
          </ul>
        </a>
      </div>
    </div>
  </div>
</div>