<div id="template-nt-promo">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2 template-nt-section-heading text-center">
        <h2 class="template-nt-lead to-animate-off"> <%= t('video_headline')%> </h2>
      </div>

      <%= video_tag(["promo.mp4"], style: 'width: 80% ', controls: true) %>

      <div class="template-nt-spacer template-nt-spacer-sm"></div>

      <div class="col-md-4 col-md-offset-4 text-center to-animate-off">
        <a class="btn btn-success" href=""><%= t('home_index')%></a>
      </div>
    </div>
  </div>
</div>