<div id="template-nt-features-3" data-section="benefits">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 template-nt-section-heading text-center">
        <h2 class="template-nt-lead animate-single features3-animate-1">Features of Our Products</h2>
        <p class="template-nt-sub animate-single features3-animate-2">The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information.</p>
      </div>

      <div class="col-md-4 col-sm-6 text-center template-nt-text-wrap">
        <div class="template-nt-text to-animate-off">
            <span class="template-nt-icon">
              <%= fa_icon "meh-o" %>
            </span>
          <h4 class="template-nt-uppercase-sm">Customer support</h4>
          <p>The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 text-center template-nt-text-wrap">
        <div class="template-nt-text to-animate-off">
            <span class="template-nt-icon">
              <%= fa_icon "comment-o" %>
            </span>
          <h4 class="template-nt-uppercase-sm">Customer support</h4>
          <p>The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information.</p>
        </div>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-4 col-sm-6 text-center template-nt-text-wrap">
        <div class="template-nt-text to-animate-off">
            <span class="template-nt-icon">
              <%= fa_icon "desktop" %>
            </span>
          <h4 class="template-nt-uppercase-sm">Customer support</h4>
          <p>The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information.</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 text-center template-nt-text-wrap">
        <div class="template-nt-text to-animate-off">
            <span class="template-nt-icon">
              <%= fa_icon "clock-o" %>
            </span>
          <h4 class="template-nt-uppercase-sm">Customer support</h4>
          <p>The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information.</p>
        </div>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-4 col-sm-6 text-center template-nt-text-wrap">
        <div class="template-nt-text to-animate-off">
          <span class="template-nt-icon"><i class="icon-present"></i></span>
          <h4 class="template-nt-uppercase-sm">Customer support</h4>
          <p>The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 text-center template-nt-text-wrap">
        <div class="template-nt-text to-animate-off">
          <span class="template-nt-icon"><i class="icon-energy"></i></span>
          <h4 class="template-nt-uppercase-sm">Customer support</h4>
          <p>The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information.</p>
        </div>
      </div>
    </div>
  </div>
</div>