body#flatservice {
  .logo-img {
    width:120px;
    height:62px;
  }

  #template-nt-hero .template-nt-intro {
    padding-bottom: 100px;
    padding-top: 100px;

    .template-nt-text {
      bottom: 0;
    }

    p {
      color: #2f98c8;
    }

    .register-form {
      background-color: #333;
      border: 1px solid #333;
      margin: 10px 15px 0 15px;
      padding: 35px 15px;

      .col-md-12 {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .form-control {
      border: 1px solid #bbb;
      border-radius: 0;
      font-size: 16px;
      font-weight: 300;
      height: 48px;
      margin-bottom: 20px;
      padding: 6px 12px;
      width: 100%;
      font-family: inherit;
    }

    .form-control::-moz-placeholder {
      color: #999;
      opacity: 1;
    }

    input[type="text"], input[type="email"], textarea {
      background-color: #eee;
      color: #222;
      transition: all 300ms ease-in-out 0s;
    }
  }

  #template-nt-clients {
    padding: 10px;
  }

  #template-nt-clients img {
    max-height: 65px;
  }

  #template-nt-footer {
    color: #f9f6f0;
  }

  a, a:link, a:visited {
    color: #ffffff;
  }

  .img-circle {
    height: 200px;
    width: 200px;
    margin: 0 auto;
  }

  .btn {
    border-radius: 80px / 100px;
  }

  .solution-icon {
    width: 80px;
    height: 80px;
    display: table;
    text-align: center;
    margin: 0 auto;
    position: relative;
    border: 2px solid #1295c3;
    background: #1295c3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .solution-icon i {
    display: table-cell;
    vertical-align: middle;
    font-size: 50px;
    color: #fff;
  }

  .solution-icon:hover , .solution-icon.active {
    background: #fff;
  }

  .solution-icon i:hover, .solution-icon i.active {
    color: #1295c3;
  }

  .locale-dropdown {
    background-color: #1295c3;
    min-width: 10px;
  }

  .nav-locale .dropdown > a {
    color: #808080;
  }

  .nav-locale > li > a:hover, .nav-locale > li > a:focus {
    border-radius: 4px;
    text-decoration: none;
    background-color: #1295c3;
    color: #fff;
  }

  .home-flash {
    position: fixed;
    z-index: 1002;
    top: 10px;
    right: 10px;
  }

  .fb_btn {
    background: #627aac;
    border: 1px #29447e solid;
    padding: 6px!important;
    letter-spacing: 0;

    i {
      margin-top: 0!important;
      font-size: 15px!important;
    }
  }

  @media screen and (max-width: 992px) {
    .template-nt-intro {
      #register-form {
        margin: 50px auto 0;
        width: 66%;
      }
    }

    #template-nt-hero {
      height: 100%;
    }

    #template-nt-menu .template-nt-nav-toggle span {
      display: none;
    }

    #template-nt-hero {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      -webkit-background-attachment: scroll!important;
      -moz-background-attachment: scroll!important;
      -o-background-attachment: scroll!important;
      background-attachment: scroll!important;

      .template-nt-intro p {
        color: #2f98c8;
      }

      .visible-xs {
        display: block!important;
      }
    }

    #template-nt-pricing {
      .col-md-3, .col-sm-6, .col-xs-12 {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .template-nt-client img {
    max-width: 120px;
  }

  .upcase {
    text-transform: uppercase;
  }
  @media screen and (max-width: 640px) {
    .template-nt-intro {
      #register-form {
        width: 78%;
      }
    }
  }

  @media screen and (max-width : 479px){
    .template-nt-intro {
      #register-form {
        width: 90%;
      }

      #register-form .form-control {
        height: 42px;
      }
      #register-form span {
        font-size: 18px;  line-height: 24px;
      }
    }
  }

  @media screen and (max-width : 320px){
    .template-nt-intro {
      #register-form {
        width: 100%;
      }
      #register-form span {
        line-height: 22px;
      }
    }
  }


  #videosCarousel {
    position: relative;
    z-index: 1;

    .owl-dots {
      .owl-dot.active span, .owl-dot:hover span.active span {
        background-color: #1295c3;
      }

      .owl-dot span {
        background-color: #808080;
      }
    }

    .responsive-promo-video {
      width: 100%;

      video {
        position: relative;
        width: 100%;
        z-index: 1;
      }
    }

    .center .responsive-promo-video video {
      z-index: 100;
    }

  }

  // Price blocks

  #template-nt-pricing {
    h4 {
      font-size: 20px;
      font-weight: 900;
      line-height: 26px;
      font-style: normal;
      color: #fff;
    }

    p {
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      padding: 0;
      margin: 0;
      text-transform: uppercase;
      color: #fff;
    }

    .template-nt-figure  {
      background: #3fa9d0;
      border-radius: 0;
      color: #fff;
      padding: 10px;
    }

    .product-header {
      box-sizing: border-box;
      display: block;
      margin: 0;
      padding: 20px;
      position: relative;
      text-align: left;
      width: 100%;
      border-bottom: 1px solid #fff;
    }

    .product-price {
      box-sizing: border-box;
      display: block;
      margin: 0;
      padding: 20px;
      position: relative;
      text-align: left;
      width: 100%;

      .widget-price {
        font-size: 30px;
        font-style: normal;
        font-weight: 900;
        padding: 0;

        span {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
        }
      }

      .widget-price-icon {
        bottom: 18px;
        box-sizing: border-box;
        display: block;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 20px;

        img {
          width: 50px;
        }
      }
    }

    .product-content-section {
      background: rgb(159,197,57);

      .product-content-icon img {
        width: 25px;
      }
    }

    .product-footer {
      box-sizing: border-box;
      display: block;
      margin: 0;
      padding: 20px;
      position: relative;
      text-align: center;
      width: 100%;

      .button_to input {
        margin: 0;
      }

      p {
        font-size: 11px;
        font-style: normal;
        font-weight: 900;
        margin: 0;
        padding: 3px 0 0;
        text-transform: uppercase;
        padding: 10px 0 0;
      }
    }

    .col-md-3, .col-sm-6, .col-xs-12 {
      padding-left: 10px;
      padding-right: 10px;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        cursor: default;
        font-size: 13px;
        font-style: normal;
        font-weight: normal;
        list-style: outside none none;
        padding: 10px 0;
        position: relative;
        text-align: left;
        margin: 0 10px;
        border-top: 1px solid #fff;
      }

      li:first-child {
        border-top: medium none;
      }
    }
  }
}


