body#flatservice {
  #logo-img {
    width:120px; height:62px;
  }

  #template-nt-clients {
    padding: 0;
  }

  .template-nt-client img {
    height: 100px;
  }

  a, a:link, a:visited {
    color: #ffffff;
  }

  .img-circle {
    height: 200px;
    width: 200px;
    margin: 0 auto;
  }
}