body#flatservice {
  .logo-img {
    width:120px;
    height:62px;
  }

  #template-nt-hero .template-nt-intro .template-nt-text {
    height: auto;
    padding: 0 3em 3em 3em;
  }

  #template-nt-clients {
    padding: 10px;
  }

  #template-nt-clients img {
    max-height: 65px;
  }

  #template-nt-footer {
    color: #f9f6f0;
  }

  a, a:link, a:visited {
    color: #ffffff;
  }

  .img-circle {
    height: 200px;
    width: 200px;
    margin: 0 auto;
  }

  .btn {
    border-top-left-radius: 50px 100px;
    border-top-right-radius: 50px 100px;
    border-bottom-left-radius: 50px 100px;
    border-bottom-right-radius: 50px 100px;
  }

  .solution-icon {
    width: 80px;
    height: 80px;
    display: table;
    text-align: center;
    margin: 0 auto;
    position: relative;
    border: 2px solid #1295c3;
    background: #1295c3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .solution-icon i {
    display: table-cell;
    vertical-align: middle;
    font-size: 50px;
    color: #fff;
  }

  .solution-icon:hover , .solution-icon.active {
    background: #fff;
  }

  .solution-icon i:hover, .solution-icon i.active {
    color: #1295c3;
  }

  .locale-dropdown {
    background-color: #1295c3;
    min-width: 10px;
  }

  .nav-locale .dropdown > a {
    color: #808080;
  }

  .nav-locale > li > a:hover, .nav-locale > li > a:focus {
    border-radius: 4px;
    text-decoration: none;
    background-color: #1295c3;
    color: #fff;
  }

  .user-home-form {
    background: rgba(255, 255, 255, 0.5);
    color: black;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    padding: 50px 27px;
    bottom: -5em;
    text-align: center;
  }

  .user-home-form .form-control {
    background-color: rgba(208, 208, 208, 0.45);
    border: 2px solid rgba(208, 208, 208, 0.07);
    border-radius: 0;
  }

  .user-home-form span {
    color: #fff;
    font-size: 35px;
  }

  #template-nt-hero .template-nt-intro p {
    color: #fff;
  }
}